<nav class="main-header">
  <div class="container">
  {{ if not .IsHome }}
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
<img alt="OpenEMR" height="35" src="{{ .Site.BaseURL }}img/main-logo.svg">
</a>
{{ end }}
<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
<i class="fa fa-bars fa-inverse fa-lg">
</i>
</button>
<div id="navbarSupportedContent">
<ul>
{{ range .Site.Menus.main.ByWeight }}
<li class="site-nav-item">
<a href="{{ .URL }}" title="{{ .Name }}">
{{ .Name }}
</a>
</li>
{{ end }} {{ with .Site.Params.twitter }}
<li>
<a class="nav-item" href="{{ . }}">
<i class="fa fa-twitter">
</i>
</a>
</li>
{{ end }}
<li>
<a class="button-square" href="{{ .Site.BaseURL }}index.xml">
<i class="fa fa-rss">
</i>
</a>
</li>
</ul>
</div>
</div>
</nav>
